form
{
  align-content: center;
  background-color: white;;
  color:black;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin: 8px 0;

  border-radius: 30px;
  cursor: pointer;
}
.display{
  text-align: center;
  color: black;


}

